@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/satoshi');
                

.seep-text-color{
  color: #0097FF;
}
.seep-bg-color{
  background-color: #0097FF;
}

.section{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in{
  opacity: 1;
}

/* Hero images */

.home-hero-image{
  background-image: url('/images/hero.png'); 
}

@media screen and (max-width:480px) {
  .home-hero-image{
    background-image: url('/images/hero_small.png');
  }
}
.about-hero-image{
  background-image: url('/images/about.png'); 
}

@media screen and (max-width:480px) {
  .about-hero-image{
    background-image: url('/images/about_small.png');
  }
}


.fade-in-section {
  transition: opacity 1s ease, transform 1s ease;
}

.fade-in-section.left {
  opacity: 0;
  transform: translateX(-20px);
}

.fade-in-section.right {
  opacity: 0;
  transform: translateX(20px);
}

.fade-in-section.is-visible.left {
  opacity: 1;
  transform: translateX(0);
}
.fade-in-section.is-visible.right {
  opacity: 1;
  transform: translateX(0);
}
.fade-in-section.up {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in-section.is-visible.up {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-section.down {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-in-section.is-visible.down {
  opacity: 1;
  transform: translateY(0);
}


